@model _18TWENTY8.Models.LittleSisterDetail

@{
    ViewData["Title"] = "Details";
}
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal">Little sister profile progress</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Refiloe Seseane</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Her financial services' career includes roles at Allan Gray, BoE Private Clients (now Nedbank Private Wealth), EduLoan (now FUNDI), Allan Gray Orbis Foundation and Alexander Forbes. Refiloe’s on-screen pursuits include lead acting roles on South Africa’s top TV soapies: Generations, Rhythm City and The Wild. She is an accomplished voice-over artist, keynote speaker, events MC, stage, radio and TV personality who has anchored business news on CNBC Africa.</p>

                            <p>Refiloe participated in U.S. First Lady Michelle Obama’s 2011 Young African Women Leaders’ Forum and U.S. President Barack Obama’s 2012 Young African Leaders’ Initiative. In 2013 she met HM Queen Elizabeth II at a royal reception on Youth, Education and the Commonwealth at Buckingham Palace. Her other achievements include:</p>
                            <div class="col-lg-12">

                                <ul class="list list-icons">
                                    <li><i class="fas fa-check"></i> Board Member: Independent Schools’ Association of Southern Africa (ISASA) – Mathematics and English Board.</li>
                                    <li><i class="fas fa-check"></i> Chair: The Carl and Emily Fuchs Foundation 2019 Adjudication Panel.</li>
                                    <li><i class="fas fa-check"></i> MenaCal7 Brand Ambassador (2019/20 #WomanToTheBone campaign).</li>
                                    <li><i class="fas fa-check"></i> 2018 Wits Business School 50th Anniversary Book (50 Faces of WBS).</li>
                                    <li><i class="fas fa-check"></i> 2017 Honorary Member of the Golden Key International Honour Society, University of Pretoria Chapter.</li>
                                    <li><i class="fas fa-check"></i> Subject of a 2015 research paper on Gender, Race and Entrepreneurship at Universidad Piloto de Colombia: Centro de Emprendimiento.</li>
                                    <li><i class="fas fa-check"></i> 2015 Panellist: Echoing Green All Fellows' Conference</li>
                                    <li><i class="fas fa-check"></i>2015 Panellist: Old Mutual Tomorrow's Leaders' Convention</li>
                                    <li><i class="fas fa-check"></i>2014 Elizabeth Arden Make a Visible Difference Award</li>
                                    <li><i class="fas fa-check"></i> 2014 Levi's Pioneer Nation Award</li>
                                    <li><i class="fas fa-check"></i> 2012 Spark Changemaker</li>
                                    <li><i class="fas fa-check"></i>2011 Mail & Guardian Top 200 Young South Africans</li>
                                    <li><i class="fas fa-check"></i> 2011 Mail & Guardian Book of South African women</li>
                                    <li><i class="fas fa-check"></i>2011 Destiny Magazine Top 40 under 40</li>
                                    <li><i class="fas fa-check"></i> 2010 Inyathelo Philanthropy Award</li>
                                    <li><i class="fas fa-check"></i> 2010 CEO Magazine South Africa’s Most Influential Women Award</li>
                                    <li><i class="fas fa-check"></i>2010 Top three finalist in the Black Business Quarterly Awards</li>

                                </ul>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="row process process-connecting-line ">
                <div class="connecting-line appear-animation" data-appear-animation="fadeIn"></div>
                <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                    <div style="background-color:#a62237;color:white" class="process-step-circle">
                        <strong style="color:white" class="process-step-circle-content">1</strong>
                    </div>
                    <div class="process-step-content">
                        <ul class="list list-icons">
                            <li><i class="fas fa-check"></i> Registration Verification</li>
                        </ul>
                    </div>
                </div>
                @if (Model.ProfileStatusID == 5 || Model.ProfileStatusID == 11)
                {
                    <div data-toggle="modal" data-target="#largeModal" class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-exclamation"></i> @ViewBag.ProStatus</li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div style="background-color:#a62237;color:white" class="process-step-circle">
                            <strong style="color:white" class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-check"></i> @ViewBag.ProStatus</li>
                            </ul>
                        </div>
                    </div>
                }
                @if (@ViewBag.Sistatus == "Pending Approval")
                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">3</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-exclamation"></i> Little Sister assignment @ViewBag.Sistatus</li>
                            </ul>
                        </div>
                    </div>
                }
                else

                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div style="background-color:#a62237;color:white" class="process-step-circle">
                            <strong style="color:white" class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-check"></i> Little Sister assignment @ViewBag.Sistatus</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

    <div class="container py-2">
        <form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img src="~/Uploads/ProimagesLilsis/@Html.DisplayFor(model => model.Imageurl)">

                            </div>

                        </div>
                        @*<div class="profile-image-inner-container bg-color-primary">
                                <label style="cursor: pointer;">
                                    <span for="file" class="profile-image-button bg-color-dark">
                                        <i class="fas fa-camera text-light"></i>
                                    </span>
                                </label>
                                <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

                            </div>
                            <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                    </div>




                </div>
                <div class="col-lg-9">

                    <div class="overflow-hidden mb-1">
                        <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)'</strong>s Profile</h2>
                    </div>



                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Name</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.Name)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Surname</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.Surname)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.Nickname)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID / Passport number</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.IDPassport)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.DateofBirth)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.email)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.Phonenumber)</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.AddressStreet)</p>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                            <div class="col-lg-8">
                                <input asp-for="AddressStreetlinetwo" class="form-control" required type="text" value="" placeholder="Address line 2 (Parkmore, Sandton) ">
                            </div>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                        <div class="col-lg-12">
                            <p>@Html.DisplayFor(model => model.PostalCode)</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 1</label>
                        <div class="col-lg-8">
                            <input asp-for="EmergencyContactNumberone" class="form-control" required type="text" placeholder="Phone Number">
                        </div>
                        <div class="col-lg-4">
                            <input asp-for="EmergencyContactNameone" class="form-control" required type="text" placeholder="Name of Person">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 2</label>
                        <div class="col-lg-8">
                            <input asp-for="EmergencyContactNumbertwo" class="form-control" required type="text" placeholder="Phone Number">
                        </div>
                        <div class="col-lg-4">
                            <input asp-for="EmergencyContactNametwo" class="form-control" required type="text" placeholder="Name of Person">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">How did you hear about 18Twenty8?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="howdidyouhearaboutQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="about18Q" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"> Please tell us more about your background, personal, academic and professional aspirations </label>
                        <div class="col-lg-12">
                            <textarea asp-for="BackgroundQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been a mentor or participated in mentor training?</label>
                            <div class="col-lg-12">
                                @Html.DropDownListFor(m => m.EverbeenamentorQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you ahave answered yes to the above question.</label>
                        <div class="col-lg-9">
                            <textarea asp-for="DetailsOnEverbeenMenteeQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been arrested or convicted of a crime?</label>
                            <div class="col-lg-12">
                                @Html.DropDownListFor(m => m.ArrestedConvictedQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })


                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you ahave answered yes to the above question.</label>
                        <div class="col-lg-12">
                            <textarea asp-for="DetailsArrestedConvictedQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Details about your current study programme, year of study and where you are studying</label>
                        <div class="col-lg-12">
                            <textarea asp-for="CurrentStudyQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What expectations do you have about your Big Sister?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="Expectationsonlittlesister" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Information of interests(Please select all applicable options)</label>
                            <div class="col-lg-12">

                                @for (int i = 0; i < Model.Infosbig.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Infosbig[i].Value" />
                                    <input asp-for="Infosbig[i].Selected" />@Model.Infosbig[i].Text <br />

                                }

                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to meet my Little Sister:</label>
                            <div class="col-lg-12">

                                @Html.DropDownListFor(m => m.Interactionlevelmeet, ViewBag.IntLevel as SelectList, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to phone / email / text my Little Sister: </label>
                            <div class="col-lg-12">

                                @Html.DropDownListFor(m => m.InteractionlevelDigCom, ViewBag.IntLevel as SelectList, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ADDITIONAL SUPPORT. In addition to being a Big Sister, I would also like to (please select all applicable options): </label>
                            <div class="col-lg-12">

                                @for (int i = 0; i < Model.Addsupbig.Count; i++)
                                {
                                    <input type="hidden" asp-for="@Model.Addsupbig[i].Value" />
                                    <input asp-for="Addsupbig[i].Selected" />@Model.Addsupbig[i].Text <br />

                                }

                            </div>
                        </div>*@
                    @*<div class="form-group row">
                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required"> I confirm that I can commit to being a Big Sister for no less than 12 months from the date of submission of this form</label>
                            <div class="col-lg-12">

                                @Html.DropDownListFor(m => m.ConfirmMentordurationQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })

                            </div>
                        </div>*@



                </div>

            </div>
        </form>
    </div>

</div>
