@model IEnumerable<object>

@{
    List<_18TWENTY8.Models.FinancialSupport> FS = Model.ToList()[0] as List<_18TWENTY8.Models.FinancialSupport>;
    List<_18TWENTY8.Models.BursaryApplication> BA = Model.ToList()[1] as List<_18TWENTY8.Models.BursaryApplication>;
    List<_18TWENTY8.Models.ApplicationStatus> AS = Model.ToList()[2] as List<_18TWENTY8.Models.ApplicationStatus>;
    List<_18TWENTY8.Models.BursaryStatus> BS = Model.ToList()[3] as List<_18TWENTY8.Models.BursaryStatus>;
    List<_18TWENTY8.Models.BursaryApplicationCandidate> BAC = Model.ToList()[4] as List<_18TWENTY8.Models.BursaryApplicationCandidate>;

 



}


<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Administration case management</strong><strong class="font-weight-extra-bold"></strong></h2>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col-lg-2">
        <aside class="sidebar">

            <h5 class="font-weight-semi-bold pt-4">Administration</h5>
            <ul class="nav nav-list flex-column mb-5">
                <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="BursaryApplicant">View FAP applicants</a></li>

                <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="BursaryCapture">Capture FAP opportunities </a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="DetailsBurs">All FAP opportunities  </a></li>

                <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="Volunteerlist">Teamworthy</a></li>



            </ul>
        </aside>
    </div>
    <div class="col-lg-10">

     
                    <div role="main" class="main shop py-4">
                        <div class="container">

                            <div class="row">
                                <div class="col">

                                    <div class="featured-boxes">
                                        <div class="row">
                                            <div class="col">
                                                <div class="featured-box featured-box-primary text-left mt-2">
                                                    <div class="box-content">
                                                        <form method="post" action="">
                                                            <table class="shop_table cart">
                                                                <thead>
                                                                    <tr>

                                                                        <th class="product-name">
                                                                            Bursary
                                                                        </th>
                                                                        <th class="product-name">
                                                                            Number of applicants
                                                                        </th>
                                                                        <th class="product-name">
                                                                            View
                                                                        </th>
                                                                        <th class="product-name">
                                                                            Application Start Date
                                                                        </th>
                                                                        <th class="product-name">
                                                                            Application End Date
                                                                        </th>

                                                                    </tr>
                                                                </thead>

                                                                <tbody>

                                                                    @foreach (var item in BA)
                                                                    {
                                                                        <tr class="cart_table_item">

                                                                            <td class="product-name">
                                                                                @item.Title
                                                                            </td>
                                                                            <td class="product-name">
                                                                                @BAC.Where(x => x.BursaryID == item.BursaryID).Count()
                                                                            </td>
                                                                            <td class="product-name">
                                                                                <button asp-controller="Administration" asp-route-BursaryName="@item.Title" asp-route-BursaryID="@item.BursaryID" asp-action="DetailedBursaryAdminApplied" type="submit" class="btn btn-primary btn-with-arrow mb-2">View<span><i class="fas fa-chevron-right"></i></span></button>
                                                                            </td>
                                                                            <td class="product-name">
                                                                                @item.ApplicationStartDate.ToString("yyyy MMM dd")
                                                                            </td>
                                                                            <td class="product-name">
                                                                                @item.ApplicationEndDate.ToString("yyyy MMM dd")
                                                                            </td>

                                                                        </tr>
                                                                    }


                                                                </tbody>
                                                            </table>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
