@model IEnumerable<object>

@{
    List<_18TWENTY8.Models.FinancialSupport> FS = Model.ToList()[0] as List<_18TWENTY8.Models.FinancialSupport>;
    List<_18TWENTY8.Models.BursaryApplication> BA = Model.ToList()[1] as List<_18TWENTY8.Models.BursaryApplication>;
    List<_18TWENTY8.Models.ApplicationStatus> AS = Model.ToList()[2] as List<_18TWENTY8.Models.ApplicationStatus>;
    List<_18TWENTY8.Models.BursaryStatus> BS = Model.ToList()[3] as List<_18TWENTY8.Models.BursaryStatus>;
    List<_18TWENTY8.Models.BursaryApplicationCandidate> BAC = Model.ToList()[4] as List<_18TWENTY8.Models.BursaryApplicationCandidate>;





}


    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 align-self-center p-static order-2 text-center">


                    </div>

                    <div class="col-md-12 align-self-center order-1">


                    </div>
                </div>
            </div>
        </section>

        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">@ViewBag.Titleburs</strong><strong class="font-weight-extra-bold"></strong></h2>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var itemd in FS)
        {
            <div class="container py-2">
                <div class="row">
                    <div class="modal fade" id="AcademicTranscript" style="z-index:1100;"  tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Academic Transcript</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="~/Uploads/Qualifications/@itemd.Academictranscript" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="Modalproofreg"    style="z-index:1100;" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Proof of registration</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="~/Uploads/POR/@itemd.Proofofregoistrationurl" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="Modalfeest" style="z-index:1100;"  tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Latest Fee statements</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="~/Uploads/FeeStatements/@itemd.LatestStatementfees" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="ModalCv" style="z-index:1100;"  tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">CV</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="~/Uploads/CV/@itemd.CVurl" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="ModelCertID" style="z-index:1100;"  tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Certified ID</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="~/Uploads/CertifiedID/@itemd.CertifiedID" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="modal fade" id="ModalVid" style="z-index:1100;"  tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Motivational Video</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <article class="post post-large pb-5">
                                        <div class="post-image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video controls="controls" src="~/Uploads/CVVideo/@itemd.VideoURl" width="640" height="360" type="video/mp4" allowfullscreen></video>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
            <div class="container py-2">
                @foreach (var item in FS)
                {
                    <div class="row">
                        <div class="modal fade" id="largeModal_@item.FinancialSupportID" tabindex="5" role="dialog" aria-labelledby="largeModalLabel_@item.FinancialSupportID" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="largeModalLabel">Academic Transcript</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body">

                                            <div id="little-sister-profile-wrapper" class="container py-2">
                                                <form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <div class="row">

                                                                <div class="col-lg-3 mt-4 mt-lg-0">

                                                                    <div class="d-flex justify-content-center mb-4">
                                                                        <div class="profile-image-outer-container">
                                                                            <div class="profile-image-inner-container bg-color-primary">
                                                                                <img src="~/Uploads/ProimagesLilsis/@item.Imgurl">

                                                                            </div>

                                                                        </div>

                                                                    </div>




                                                                </div>
                                                                <div class="col-lg-9 litte-sister-profile-wrapper">

                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="overflow-hidden mb-1">
                                                                                <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@item.Name @item.Surname</strong>s Profile</h2>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="accordion" id="accordion">
                                                                        <div class="card card-default">
                                                                            <div class="card-header">
                                                                                <h4 class="card-title m-0">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                                                                        Personal Information
                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse1One" class="collapse">
                                                                                <div class="card-body">
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Full Names</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.Name</p>
                                                                                        </div>
                                                                                    </div>
                                                                                
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.Nickname</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID / Passport number</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.IdNr_Passport</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.DOB</p>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card card-default">
                                                                            <div class="card-header">
                                                                                <h4 class="card-title m-0">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                                                                        Contact Information
                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse1Two" class="collapse">
                                                                                <div class="card-body">
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.Email</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row">
                                                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                                                                                        <div class="col-lg-12">
                                                                                            <p>@item.CellphoneNr</p>
                                                                                        </div>
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                        <div class="card card-default">
                                                                            <div class="card-header">
                                                                                <h4 class="card-title m-0">
                                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                                                                        Documents
                                                                                    </a>
                                                                                </h4>
                                                                            </div>
                                                                            <div id="collapse1Four" class="collapse">
                                                                                <div class="card-body">
                                                                                    <table class="table table-sm table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Document Name</th>
                                                                                                <th scope="col">Created</th>
                                                                                                <th scope="col">Action</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbl-sister-documents">
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Certified ID</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#ModelCertID" href="#">View</a></th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">CV</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#ModalCv" href="#">View</a></th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Motivational Video</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#ModalVid" href="#">View</a></th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Academic Transcript</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#AcademicTranscript" href="#">View</a></th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Proof of registration</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#Modalproofreg" href="#">View</a></th>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <th scope="col">#</th>
                                                                                                <th scope="col">Fee Statement</th>
                                                                                                <th scope="col">@item.DateCreated</th>
                                                                                                <th scope="col"><a data-toggle="modal" data-target="#Modalfeest" href="#">View</a></th>
                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2" style="margin-top: 50px;">

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>


        <div class="row">
            <div class="col-lg-2">
                <aside class="sidebar">

                    <h5 class="font-weight-semi-bold pt-4">Administration</h5>
                    <ul class="nav nav-list flex-column mb-5">
                        <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="AdminLanding">View Big sister programme page</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="BursaryCapture">Capture Bursaries</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Administration" asp-action="DetailsBurs">View Bursary list</a></li>



                    </ul>
                </aside>
            </div>
            <div class="col-lg-10">
                <div class="row pb-4">
                    <div class="col-md-12">
                        <div class="container py-4">

                            <div class="accordion" id="accordion">
                                @foreach (var item in BA)
                                {
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h4 class="card-title m-0">
                                                <a class="accordion-toggle" aria-expanded="false" data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.BursaryID">
                                                    Bursary Details
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse_@item.BursaryID" class="collapse">
                                            <div class="card-body">
                                                <div class="card-body mt-3">
                                                    <p>@item.Description</p>
                                                    <p></p>

                                                    <ul class="list list-inline mt-4 mb-3 text-2">
                                                        <li class="list-inline-item">
                                                            <strong>Application Start Date</strong>
                                                            @item.ApplicationStartDate.ToString("yyy MMM dd")
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <strong>Application End Date</strong>
                                                            @item.ApplicationEndDate.ToString("yyy MMM dd")
                                                        </li>
                                                        <li class="list-inline-item ms-md-3">

                                                        </li>
                                                    </ul>
                                                    <strong>Qualifying Criteria</strong>
                                                    @item.QualifyingCriteria <br />

                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                }


                            </div>

                        </div>
                    </div>

                </div>

                <div role="main" class="main shop py-4">
                    <div class="container">

                        <div class="row">
                            <div class="col">

                                <div class="featured-boxes">
                                    <div class="row">
                                        <div class="col">
                                            <div class="featured-box featured-box-primary text-left mt-2">
                                                <div class="box-content">
                                                    <form method="post" action="">

                                                        <table class="shop_table cart">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">
                                                                        Picture
                                                                    </th>

                                                                    <th class="product-name">
                                                                        Name
                                                                    </th>
                                                                    <th class="product-name">
                                                                        Actions
                                                                    </th>
                                                                    <th class="product-name">
                                                                        Date Applied
                                                                    </th>
                                                                 

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{var allowedStatuss = new[] { 1 };}
                                                                @foreach (var item in BAC.Where(x => allowedStatuss.Contains(x.Status) && x.BursaryID == BA.SingleOrDefault().BursaryID))
                                                                {
                                                                    <tr class="cart_table_item">
                                                                        <td class="product-name">
                                                                            <a href="#">
                                                                                <img width="100" height="100" alt="" class="img-fluid" src="~/Uploads/ProimagesLilsis/@FS.Where(x=> x.UserID==item.UserID).SingleOrDefault().Imgurl">
                                                                            </a>
                                                                        </td>

                                                                        <td class="product-name">
                                                                            @FS.Where(x => x.UserID == item.UserID).SingleOrDefault().Name  @FS.Where(x => x.UserID == item.UserID).SingleOrDefault().Surname
                                                                        </td>
                                                                        <td class="product-name">
                                                                            <a href="#" data-toggle="modal" data-target="#largeModal_@FS.Where(x=> x.UserID==item.UserID).SingleOrDefault().FinancialSupportID"  class="btn btn-primary btn-with-arrow mb-2">View Profile<span><i class="fas fa-chevron-right"></i></span></a>  <button asp-controller="Administration" asp-route-Status="2" asp-route-UserID="@item.UserID"  asp-route-BursaryName="@BA.Where(x=> x.BursaryID==@item.BursaryID).SingleOrDefault().Title" asp-route-BursaryID="@item.BursaryID" asp-action="DetailedBursaryAdminAppliedsave" type="submit" class="btn btn-primary btn-with-arrow mb-2">Approve<span><i class="fas fa-check"></i></span></button>  <button  asp-controller="Administration" asp-route-Status="3" asp-route-BursaryName="@BA.Where(x=> x.BursaryID==@item.BursaryID).SingleOrDefault().Title" asp-route-UserID="@item.UserID" asp-route-BursaryID="@item.BursaryID" asp-action="DetailedBursaryAdminAppliedsave" type="submit" class="btn btn-primary btn-with-arrow mb-2">Decline<span><i class="fas fa-times"></i></span></button>
                                                                        </td>
                                                                        <td class="product-name">
                                                                            @item.DateApplied.ToString("yyyy MMM dd")
                                                                        </td>
                                                                    

                                                                    </tr>
                                                                }


                                                            </tbody>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
        </div>


