@model _18TWENTY8.Models.BursaryApplication

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div role="main" class="main">
        <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 align-self-center p-static order-2 text-center">


                    </div>

                    <div class="col-md-12 align-self-center order-1">


                    </div>
                </div>
            </div>
        </section>

        <a asp-controller="Administration" asp-action="DetailsBurs" class="read-more text-color-dark font-weight-bold text-2">Back <i class="fas fa-chevron-right text-1 ml-1"></i></a>
        <div class="container py-4">

            <div class="row">
                <div class="col">
                    <div class="blog-posts single-post">

                        <article class="post post-large blog-single-post border-0 m-0 p-0">




                            <div class="post-content ml-0">

                                <h2 class="font-weight-bold"><a href="#">@Html.DisplayFor(model => model.Title)</a></h2>

                              
                                <h5>Description</h5>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                                <h5>Qualifying Criteria</h5>
                                <p>@Html.DisplayFor(model => model.Description)</p>
                                <h5>Start date - End Date</h5>
                                <p>@Model.ApplicationStartDate.ToString("yyyy-MMM-dd") <strong>to</strong> @Model.ApplicationEndDate.ToString("yyyy-MMM-dd")</p>

                            </div>
                        </article>

                    </div>
                </div>
            </div>

        </div>
    </div>



