@model IEnumerable<object>

@{
    List<_18TWENTY8.Models.Workshops> Dtype = Model.ToList()[0] as List<_18TWENTY8.Models.Workshops>;
    List<_18TWENTY8.Models.WorkshopsupportDocType> Art = Model.ToList()[1] as List<_18TWENTY8.Models.WorkshopsupportDocType>;
}




    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 align-self-center p-static order-2 text-center">


                    </div>

                    <div class="col-md-12 align-self-center order-1">


                    </div>
                </div>
            </div>
        </section>

        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5">Work<strong class="font-weight-extra-bold">shops</strong></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-4">

            <div class="row">
                <div class="col">
                    <div><p>We facilitate life-skills workshops for girls in Grade 11 and Grade 12 at high schools in marginalised communities that are characterised by a lack of exposure to opportunities. Our workshops are conducted during the second and third terms (April to September) depending on funding. The workshops have a strong focus on skill-building exercises that support the girls’ development. Our workshops further allow us to identify girls who can become our Little Sisters in order for them to benefit from the support and mentorship of our Big Sister Network.</p></div>
                    <div class="blog-posts">

                        <div class="row">
                            @foreach (var item in Dtype)
                        {
                            if (item.WorkshopFileTypeID == 3)
                            {
                            <div class="col-md-4">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <a href="#">
                                            <img style="height:260px; width:550px"  src="~/Uploads/Workshops/@item.fileurl"  class="img-fluid img-thumbnail img-thumbnail-no-bordersd rounded-0" alt="" />
                                        </a>
                                    </div>

                                    <div class="post-content">

                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">@item.WorkshopTitle</a></h2>
                                        @Html.Raw(item.WorkshopContent)

                                       

                                    </div>
                                </article>
                            </div>
                            }
                            else if (item.WorkshopFileTypeID == 1)
                            {
                            <div class="col-md-4">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <a href="#">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@item.fileurl" width="640" height="360" allowfullscreen></iframe>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="post-content">

                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">@item.WorkshopTitle</a></h2>
                                        @Html.Raw(item.WorkshopContent)

                                    

                                    </div>
                                </article>
                            </div>

                            }
                            else
                            {
                            <div class="col-md-4">
                                <article class="post post-medium border-0 pb-0 mb-5">
                                    <div class="post-image">
                                        <div class="post-image">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="@item.fileurl" width="640" height="360" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-content">

                                        <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">@item.WorkshopTitle</a></h2>
                                        @Html.Raw(item.WorkshopContent)

                              

                                    </div>
                                </article>
                            </div>

                            }

                        }

                        </div>


                    </div>
                </div>

            </div>

        </div>

    </div>



@*<h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkshopTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkshopContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileurl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Filetype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkshopTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkshopContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fileurl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Filetype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WorkshopID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WorkshopID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkshopID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
