

@model _18TWENTY8.Models.Volunteerdetail
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Volunteer or Employment Application</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-2">
        <form asp-action="Create" role="form" class="needs-validation" enctype="multipart/form-data">
            <div class="row">

           
                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img id="output" src="~/img/avatars/avatar.jpg">
                                <span class="profile-image-button bg-color-dark">
                                    <i class="fas fa-camera text-dark"></i>
                                </span>
                            </div>
                            <input type="file" required class="profile-image-input" name="pc" id="pc" onchange="loadFile(event)" />
                        </div>
                        @*<div class="profile-image-inner-container bg-color-primary">
                <label style="cursor: pointer;">
                    <span for="file" class="profile-image-button bg-color-dark">
                        <i class="fas fa-camera text-light"></i>
                    </span>
                </label>
                <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

            </div>
            <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                    </div>



                </div>
                <div class="col-lg-9">

                    <div class="overflow-hidden mb-1">
              
                    </div>
                    <div class="overflow-hidden mb-4 pb-3">
          
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Full Names</label>
                        <div class="col-lg-12">
                            <input asp-for="Fullnames" class="form-control" required type="text" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of Birth</label>
                        <div class="col-lg-12">
                            <input id="MyDate" asp-for="DOB" required class="form-control" placeholder="dd/mm/yyyy" type="date" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                        <div class="col-lg-12">
                            <input asp-for="email" class="form-control" required type="email" value="">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Cell phone number</label>
                        <div class="col-lg-12">

                            <input asp-for="cellnumber" class="form-control" required type="tel" maxlength="10" minlength="10" onblur="if(this.value == '') { this.value ='e.g. 0825660869'; }" onfocus="if(this.value =='e.g. 0825660869') { this.value = ''; }" value="e.g. 0825660869">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                        <div class="col-lg-12">
                            <input asp-for="Postaladdressline1" class="form-control" required type="text" value="" placeholder="Street (96 4th St)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class="col-lg-8">
                            <input asp-for="Postaladdressline2" class="form-control" required type="text" value="" placeholder="Address line 2 (Parkmore, Sandton) ">
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                        <div class="col-lg-12">
                            <input asp-for="Postalcode" class="form-control" required type="text" value="">
                        </div>
                    </div>
              
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Occupation and Employer</label>
                        <div class="col-lg-8">
                            <input asp-for="Occupation" class="form-control" required type="text" value="" placeholder="Occupation">
                        </div>
                        <div class="col-lg-4">
                            <input asp-for="Employer" class="form-control" required type="text" value="" placeholder="Employer">
                        </div>
                    </div>
                 
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Which programme(s) are you interested in? </label>
                        <div class="col-lg-12">
                            @for (int i = 0; i < Model.programmelist.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.programmelist[i].Value" />
                                <input asp-for="programmelist[i].Selected" /> @Model.programmelist[i].Text<br />

                            }
                        </div>
                    </div>
          
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">How many hours per week can you contribute to the programme(s)?</label>
                        <div class="col-lg-12">
                            <input asp-for="Hoursweekforprogramme" class="form-control" required type="number" value="" placeholder="e.g 20">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">How many days can you dedicate to the programme(s)?</label>
                        <div class="col-lg-9">
                            @for (int i = 0; i < Model.Daysofweek.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.Daysofweek[i].Value" />
                                <input asp-for="Daysofweek[i].Selected" /> @Model.Daysofweek[i].Text <br />

                            }
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please indicate any previous work experience as a volunteer in other organisation/s: (with contact reference/s)</label>
                        <div class="col-lg-12">
                            
                            <textarea asp-for="previousexperienceinotherorgasvolunteer" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message"></textarea>



                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Briefly describe why you offered to volunteer at 18twenty8:</label>
                        <div class="col-lg-12">
                            <textarea asp-for="describewhyyouofferedtovolunteer" maxlength="5000" required data-msg-required="Please enter your message." rows="8" class="form-control" id="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Do you have a specific achievement or goal that you plan to accomplish through volunteer experience?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="goaltoachieveinvolunteer"  maxlength="5000"  data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Briefly describe your hobbies & interests:</label>
                        <div class="col-lg-12">
                            <textarea asp-for="describehobbies" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">18twenty8 appreciates your interest in volunteering with us. We look forward to your service for the betterment of our beneficiaries and community. However, 18twenty8 will not be held responsible for anything that happens to you while offering your volunteer services to us:</label>
                        <div class="col-lg-12">

                            @Html.DropDownListFor(m => m.indemnity, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload CV</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" name="CV" id="CV" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload Certified ID</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" name="CID" id="CID" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload Qualifications</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" multiple name="QA" id="QA" />
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-lg-9">

                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Submitting...">
                        </div>
                    </div>


                </div>

            </div>
        </form>
    </div>

</div>




<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

   

</script>
<script>

    // Use datepicker on the date inputs
    $("input[type=date]").datepicker({
        dateFormat: 'dd/mm/yyyy',
        onSelect: function (dateText, inst) {
            $(inst).val(dateText); // Write the value in the input
        }
    });

    // Code below to avoid the classic date-picker
    $("input[type=date]").on('click', function () {
        return false;
    });
</script>