@model _18TWENTY8.Models.ViewModels.LittleSister.LittleSisterProfileViewModel
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal">Little sister profile progress</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Detailed status reason</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <p>@Model.Profile.profilestatusreason</p>



                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="modal fade" id="viewDocumentModal" tabindex="5" role="dialog" data-backdrop="static" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="docViewModal" class="modal-body">
                            <div class="iframe-container">
                                <iframe id="documentViewer" width="100%" height="650px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <div class="row process process-connecting-line ">
                <div class="connecting-line appear-animation" data-appear-animation="fadeIn"></div>
                <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                    <div style="background-color:#a62237;color:white" class="process-step-circle">
                        <strong style="color:white" class="process-step-circle-content">1</strong>
                    </div>
                    <div class="process-step-content">
                        <ul class="list list-icons">
                            <li id="big-sis-phase-1"><i class="fas fa-check"></i> Registration Verification</li>
                        </ul>
                    </div>
                </div>
                @if (Model.Profile.ProfileStatusID == 5 || Model.Profile.ProfileStatusID == 11)
                {
                    <div data-toggle="modal" data-target="#largeModal" class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li id="big-sis-phase-2"><i class="fas fa-exclamation"></i> @Model.Profile.ProfileStatus</li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div style="background-color:#a62237;color:white" class="process-step-circle">
                            <strong style="color:white" class="process-step-circle-content">2</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li id="big-sis-phase-2"><i class="fas fa-check"></i> @Model.Profile.ProfileStatus</li>
                            </ul>
                        </div>
                    </div>
                }
                @if (@Model.Profile.SisterStatus == "Pending Approval")
                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                        <div class="process-step-circle">
                            <strong class="process-step-circle-content">3</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-exclamation"></i> Little Sister assignment @Model.Profile.SisterStatus</li>
                            </ul>
                        </div>
                    </div>
                }
                else

                {
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div style="background-color:#a62237;color:white" class="process-step-circle">
                            <strong style="color:white" class="process-step-circle-content">3</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li><i class="fas fa-check"></i> Little Sister assignment @Model.Profile.SisterStatus</li>
                            </ul>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>

    <div id="little-sister-profile-wrapper" class="container py-2">
        @*<form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">*@
        <div class="row">
            <div class="col-md-10">
                <div class="row">

                    <div class="col-lg-3 mt-4 mt-lg-0">

                        <div class="d-flex justify-content-center mb-4">
                            <div class="profile-image-outer-container">
                                <div class="profile-image-inner-container bg-color-primary">
                                    <img src="~/Uploads/ProimagesLilsis/@Model.Profile.Imageurl">

                                </div>

                            </div>
                            @*<div class="profile-image-inner-container bg-color-primary">
                                    <label style="cursor: pointer;">
                                        <span for="file" class="profile-image-button bg-color-dark">
                                            <i class="fas fa-camera text-light"></i>
                                        </span>
                                    </label>
                                    <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

                                </div>
                                <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                        </div>




                    </div>
                    <div class="col-lg-9 litte-sister-profile-wrapper">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="overflow-hidden mb-1">
                                    <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@Model.Profile.Name @Model.Profile.Surname</strong>s Profile</h2>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="accordion" id="accordion">
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                            Personal Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1One" class="collapse show">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Name</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Name</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Surname</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Surname</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Nickname</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID / Passport number</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.IDPassport</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.DateofBirth.ToString("yyyyMMMdd")</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                            Contact Information
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Two" class="collapse show">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.email</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Phonenumber</p>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.AddressStreet</p>
                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                                                <div class="col-lg-8">
                                                    <input asp-for="AddressStreetlinetwo" class="form-control" required type="text" value="" placeholder="Address line 2 (Parkmore, Sandton) ">
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.PostalCode</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 1 name and number</label>

                                            <div class="col-lg-12">
                                                <p>@Model.Profile.EmergencyContactNameone: @Model.Profile.EmergencyContactNumberone</p>
                                            </div>


                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 2 name and number</label>

                                            <div class="col-lg-12">
                                                <p>@Model.Profile.EmergencyContactNametwo: @Model.Profile.EmergencyContactNumbertwo </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                            Profile Questions
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Three" class="collapse show">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">How did you hear about 18twenty8?</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.howdidyouhearaboutQ</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Tell us more about your background (Proffesional, academic, personal and professional aspirations)</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.BackgroundQ</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been a mentee or participated in mentor training?</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.EverBeenAMenteed</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                            <div class="col-lg-9">
                                                <p>@Model.Profile.DetailsOnEverbeenMenteeQ</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been arrested or convicted of a crime?</label>
                                            <div class="col-lg-12">

                                                <p>@Model.Profile.PreviouslyArrestedOrConvictedd</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.DetailsArrestedConvictedQ</p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Details about your current study programme, year of study and where you are studying?</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.CurrentStudyQ</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What expectations do you have about your Big Sister?</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Expectationsonlittlesister</p>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Information of interests(Please select all applicable options)</label>
                                            <div class="col-lg-12">
                                                <ul class="list list-icons">
                                                    @foreach (var interest in Model.InformationOfInterest)
                                                    {

                                                        <li><i class="fas fa-check"></i>@interest.Description</li>

                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to meet my Little Sister:</label>
                                            <div class="col-lg-12">
                                                <p>@Model.Profile.Interactionlevelmeetd</p>


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to phone / email / text my Little Sister: </label>
                                            <div class="col-lg-12">

                                                <p>@Model.Profile.InteractionlevelDigComd</p>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label style="font-size: .8em !important;" class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">
                                                I confirm that I can commit to being a Big Sister for no less than 12 months from the date of submission of this form @if (Model.Profile.ConfirmMenteedurationQ == 1)
                                                {<i style="font-size:14px; color:green" class="fas fa-check-circle"></i>}
                                                else
                                                { <i style="font-size:14px; color:red" class="fas fa-times-circle"></i>}
                                            </label>
                                            <!---<div class="col-lg-12">

                                                <p>@Model.Profile.ConfirmMenteedurationQ</p>

                                            </div>-->
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                            Documents
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Four" class="collapse show">
                                    <div class="card-body">
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Document Name</th>
                                                    <th scope="col">Created</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl-sister-documents"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="margin-top: 50px;">
                @if (Model.Profile.AssignedSister is null)
                {
                    <div class="bigAssignWrapper">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="alert alert-success" role="alert">
                                    <h4 style="font-size: 0.7rem;" class="alert-heading"><i class="fa fa-users"></i>You have not been assigned a big sister as yet</h4>
                                    <hr>

                                </div>

                            </div>


                        </div>


                    </div>
                }
                else
                {
                    @if (@Model.Profile.LittleApproveID == 3 && @Model.Profile.BigApproveID == 3)
                    {
                        <div class="bigAssignWrapper">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="alert alert-success" role="alert">
                                        <h4 style="font-size: 0.7rem;" class="alert-heading"><i class="fa fa-users"></i>@Model.Profile.AssignedSister </h4>
                                        <hr>
                                        <p class="mb-0" style="text-align:center"><a style="font-size: 0.7rem;" class="btn-view-sister-profile" data-sister-id="@Model.Profile.AssignedSisterId" data-sister-type="big" onclick="return false" href="#">View profile. <i class="fa fa-external-link-alt"></i></a></p>
                                        <p class="mb-0" style="text-align:center;"><a style="font-size: 0.7rem;color:green" asp-controller="Messaging" asp-action="index" asp-route-RoleID="Little Sister (Mentee)" asp-route-RecId="@Model.Profile.AssignedSisterId" asp-route-SendID="@Model.Profile.UserID" data-sister-id="@Model.Profile.AssignedSisterId" data-sister-type="little">Chat. <i class="fa fa-comment"></i></a></p>
                                    </div>

                                </div>


                            </div>


                        </div>
                    }
                    else if (@Model.Profile.LittleApproveID == 3)

                    {

                    }
                    else
                    {
                        <div class="bigAssignWrapper">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="alert alert-success" role="alert">
                                        <h4 style="font-size: 1.0rem;" class="alert-heading"><i class="fa fa-users"></i>Big Sister Alert</h4>
                                        <p><b>@Model.Profile.AssignedSister</b> has been assigned to be your Mentor. Please review and action accordingly.</p>
                                        <hr>
                                        <p class="mb-0" style="text-align:center"><a class="btn-view-sister-profile" data-sister-id="@Model.Profile.AssignedSisterId" data-sister-type="big" onclick="return false" href="#">View profile. <i class="fa fa-external-link-alt"></i></a></p>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="action-button-wrapper" style="margin-right: 50px;margin-left: 50px;">
                                        <button onclick="return false" class="btn btn-success btn-sm mb-2 btn-approve-profile" data-toggle="tooltip" title="Approve"><i data-role="Little Sister (Mentee)" data-sister-assign-id="@Model.Profile.SisterAssignId" data-action="Approved" data-src="assignment-action" class="fas fa-thumbs-up"></i>&nbsp;</button>
                                        <button onclick="return false" class="btn btn-primary btn-sm mb-2 btn-decline-profile-assig" data-toggle="tooltip" title="Decline"><i data-role="Little Sister (Mentee)" data-sister-assign-id="@Model.Profile.AssignedSisterId" data-action="Declined" data-src="assignment-action" class="fas fa-thumbs-down">&nbsp;</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>}
                }
            </div>
        </div>
        @*</form>*@
    </div>
    }

</div>
<script src="~/js/app/admin/document-manager.js"></script>
<script src="~/js/app/admin/sister-profile.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {


        document.body.addEventListener('click', (e) => {
            if (e.target.parentElement.classList.contains('btn-approve-profile')) {
                var data = {};
                e.target.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
                data.action = e.target.getAttribute('data-action');
                data.role = e.target.getAttribute('data-role');
       
                data.sisterAssignId = e.target.getAttribute('data-sister-assign-id');
                actionProfileSisterAssign(data, e);
            }

            if (e.target.parentElement.classList.contains('btn-decline-profile-assig')) {

                var data = {};
                e.target.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
                data.action = e.target.getAttribute('data-action');
                data.role = e.target.getAttribute('data-role');

                data.sisterAssignId = e.target.getAttribute('data-sister-assign-id');
                actionProfileSisterAssign(data, e);
            }
        });

        function actionProfileSisterAssign(data = {}, e) {
            const options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            fetch(`${window.location.origin}/Administration/ActionProfileSisterAssign`, options)
                .then((response) => {
                    return response.json();
                })
                .then((response) => {
                    if (data.action == "Approved") {
                        e.target.innerHTML = '';
                        e.target.disabled = true;
                        e.target.style.cursor = 'default';
                    }

                    if (data.action == "Declined") {
                        e.target.innerHTML = '';
                        e.target.disabled = true;
                        e.target.style.cursor = 'default';
                    }
                    window.location.reload(true);
                    toastr.success(`${data.action} successfully`, 'Success Message'); {


                    }
                });
        }
    });
</script>
