
<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold">Volunteer </strong>or <strong class="font-weight-extra-bold">Work with us</strong></h2>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container py-2">

    <div class="row">

        <div class="col-lg-4">
            <section class="call-to-action featured button-centered  featured-primary mb-5">
                <div class="col-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5>Be part of our Little Sister mentorship programme!</h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-route-id="1" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Register</a>

                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="call-to-action featured button-centered  mb-5">
                <div class="col-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5>Apply for our financial assistance programme </h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-route-id="3" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Apply</a>

                    </div>
                </div>
            </section>
        </div>
        @*<div class="col-lg-4">
            <section class="call-to-action featured button-centered  featured-primary mb-5">
                <div class="col-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5>Apply for our financial assistance programme </h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-route-id="3" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Apply</a>

                    </div>
                </div>
            </section>
        </div>*@

        <div class="col-lg-4">
            <section class="call-to-action featured button-centered featured-secondary mb-5">
                <div class="col-sm-12 col-lg-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5>Become a mentor by joining our Big sister network</h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-route-id="2" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Sign up</a>

                    </div>
                </div>
            </section>
        </div>


        <div class="col-lg-12">
            <section class="call-to-action featured button-centered  featured-box-dark mb-5">
                <div class="col-sm-12 col-lg-12">
                    <div class="call-to-action-content featured featured-primary">
                        <h5><strong class="font-weight-extra-bold">Already have an account</strong> </h5>

                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary">Sign in</a>



                    </div>
                </div>
                <div class="col-12">
                    <div class="call-to-action-btn">
                        <a asp-controller="Administration" asp-action="AdminLanding" class="btn btn-modern text-2 btn-secondary">Admin</a>



                    </div>
                </div>
            </section>


        </div>
    </div>
</div>