@model IEnumerable<object>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    List<_18TWENTY8.Models.BigSisterDetail> BS = Model.ToList()[0] as List<_18TWENTY8.Models.BigSisterDetail>;
    List<_18TWENTY8.Models.InformationInterest> II = Model.ToList()[1] as List<_18TWENTY8.Models.InformationInterest>;
    List<_18TWENTY8.Models.InformationofStorageBig> IS = Model.ToList()[2] as List<_18TWENTY8.Models.InformationofStorageBig>;
    List<_18TWENTY8.Models.InteractionLevel> IL = Model.ToList()[3] as List<_18TWENTY8.Models.InteractionLevel>;
    List<_18TWENTY8.Models.OptionalBool> PS = Model.ToList()[4] as List<_18TWENTY8.Models.OptionalBool>;
    List<_18TWENTY8.Models.BigSisterAcademic> BSA = Model.ToList()[5] as List<_18TWENTY8.Models.BigSisterAcademic>;
    List<_18TWENTY8.Models.Province> Pr = Model.ToList()[6] as List<_18TWENTY8.Models.Province>;
    List<_18TWENTY8.Models.AdditionalSupportBig> ASB = Model.ToList()[7] as List<_18TWENTY8.Models.AdditionalSupportBig>;
    List<_18TWENTY8.Models.AdditionalSupportStorageBig> ASSB = Model.ToList()[8] as List<_18TWENTY8.Models.AdditionalSupportStorageBig>;

    Layout = "_ProfilesLayout";

}



<div role="main" class="main">

    <div class="container py-2" style="max-width:98%">
        <form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">
            <div class="row">

                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img src="~/Uploads/ProimagesBigsis/@BS[0].Imageurl">

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-9">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="overflow-hidden mb-1">
                                <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@BS[0].Name @BS[0].Surname</strong>s Profile</h2>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="accordion" id="accordion">
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                        Personal Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="collapse show">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Name</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].Name</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Surname</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].Surname</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].Nickname</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID / Passport number</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].IDPassport</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].DateofBirth</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                        Contact Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1Two" class="collapse show">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].email</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].Phonenumber</p>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].AddressStreet</p>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                                            <div class="col-lg-8">
                                                <input asp-for="AddressStreetlinetwo" class="form-control" required type="text" value="" placeholder="Address line 2 (Parkmore, Sandton) ">
                                            </div>
                                            <div class="col-lg-4">
                                                @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                                            </div>
                                        </div>*@
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].PostalCode</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 1 name and number</label>

                                        <div class="col-lg-12">
                                            <p>@BS[0].EmergencyContactNameone: @BS[0].EmergencyContactNumberone</p>
                                        </div>


                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 2 name and number</label>

                                        <div class="col-lg-12">
                                            <p>@BS[0].EmergencyContactNametwo: @BS[0].EmergencyContactNumbertwo </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                        Profile Questions
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1Three" class="collapse show">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">How did you hear about 18twenty8?</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].howdidyouhearabout</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Tell us more about your background (Proffesional, academic, personal and professional aspirations)</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].BackgroundQ</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been a mentor or participated in mentor training?</label>
                                        <div class="col-lg-12">
                                            <p>@ViewBag.EvMentor</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                        <div class="col-lg-9">
                                            <p>@BS[0].DetailsOnEverbeenMentorQ</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been arrested or convicted of a crime?</label>
                                        <div class="col-lg-12">

                                            <p>@ViewBag.Conv</p>




                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].DetailsArrestedConvictedQ</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What would your 28 year-old self say to your 18 year-old self?</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].youngerselfQ</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What expectations do you have about your Little Sister?</label>
                                        <div class="col-lg-12">
                                            <p>@BS[0].Expectationsonlittlesister</p>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Information of interests(Please select all applicable options)</label>
                                        <div class="col-lg-12">
                                            <ul class="list list-icons">
                                                @foreach (var items in IS)
                                                {

                                                    <li><i class="fas fa-check"></i>@II.Where(x => x.InformationofInterestID == items.InformationofInterestID).SingleOrDefault().Description</li>

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to meet my Little Sister:</label>
                                        <div class="col-lg-12">
                                            <p>@IL.Where(x => x.InteractionLevelID == BS[0].Interactionlevelmeet).SingleOrDefault().Description</p>


                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to phone / email / text my Little Sister: </label>
                                        <div class="col-lg-12">

                                            <p>@IL.Where(x => x.InteractionLevelID == BS[0].InteractionlevelDigCom).SingleOrDefault().Description</p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ADDITIONAL SUPPORT. In addition to being a Big Sister, I would also like to (please select all applicable options): </label>
                                        <div class="col-lg-12">

                                            <ul class="list list-icons">
                                                @foreach (var items in ASSB)
                                                {

                                                    <li><i class="fas fa-check"></i>@ASB.Where(x => x.AdditionalSupportBigID == items.AdditionalSupportBigID).SingleOrDefault().Description</li>

                                                }
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label style="font-size: .8em !important;" class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">
                                            I confirm that I can commit to being a Big Sister for no less than 12 months from the date of submission of this form @if (@BS[0].ConfirmMentordurationQ == 1)
                                            {<i style="font-size:14px; color:green" class="fas fa-check-circle"></i>}
                                            else
                                            { <i style="font-size:14px; color:red" class="fas fa-times-circle"></i>}
                                        </label>
                                        <!---<div class="col-lg-12">

                                            <p>@BS[0].ConfirmMentordurationQ</p>

                                        </div>-->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br /> <br />
                        @*<div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                            Documents
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1Four" class="collapse show">
                                    <div class="card-body">
                                        <table class="table table-sm table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Document Name</th>
                                                    <th scope="col">Created</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbl-sister-documents"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
        </form>
    </div>


</div>
@*<script src="~/js/app/admin/action-profile.js"></script>*@
<script src="~/js/app/admin/document-manager.js"></script>
