@model IEnumerable<object>

@{

    List<_18TWENTY8.Models.BigSisterDetail> BS = Model.ToList()[0] as List<_18TWENTY8.Models.BigSisterDetail>;
    List<_18TWENTY8.Models.InformationInterest> II = Model.ToList()[1] as List<_18TWENTY8.Models.InformationInterest>;
    List<_18TWENTY8.Models.InformationofStorageBig> IS = Model.ToList()[2] as List<_18TWENTY8.Models.InformationofStorageBig>;
    List<_18TWENTY8.Models.InteractionLevel> IL = Model.ToList()[3] as List<_18TWENTY8.Models.InteractionLevel>;
    List<_18TWENTY8.Models.OptionalBool> PS = Model.ToList()[4] as List<_18TWENTY8.Models.OptionalBool>;
    List<_18TWENTY8.Models.BigSisterAcademic> BSA = Model.ToList()[5] as List<_18TWENTY8.Models.BigSisterAcademic>;
    List<_18TWENTY8.Models.Province> Pr = Model.ToList()[6] as List<_18TWENTY8.Models.Province>;
    List<_18TWENTY8.Models.AdditionalSupportBig> ASB = Model.ToList()[7] as List<_18TWENTY8.Models.AdditionalSupportBig>;
    List<_18TWENTY8.Models.AdditionalSupportStorageBig> ASSB = Model.ToList()[8] as List<_18TWENTY8.Models.AdditionalSupportStorageBig>;
    List<_18TWENTY8.Models.ViewModels.BigSister.BigSisterAssignmentViewModel> sisterAssign = Model.ToList()[9] as List<_18TWENTY8.Models.ViewModels.BigSister.BigSisterAssignmentViewModel>;


}



<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal">Big sister profile progress</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="largeModal" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Detailed Status reason</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>@BS.SingleOrDefault().profilestatusreason</p>

                           
                        
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="modal fade" id="viewDocumentModal" tabindex="5" role="dialog" data-backdrop="static" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div id="docViewModal" class="modal-body">
                            <div class="iframe-container">
                                <iframe id="documentViewer" width="100%" height="650px"></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in BS)
    {
        <div class="row">
            <div class="col">

                <div class="row process process-connecting-line ">
                    <div class="connecting-line appear-animation" data-appear-animation="fadeIn"></div>
                    <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                        <div style="background-color:#a62237;color:white" class="process-step-circle">
                            <strong style="color:white" class="process-step-circle-content">1</strong>
                        </div>
                        <div class="process-step-content">
                            <ul class="list list-icons">
                                <li id="big-sis-phase-1"><i class="fas fa-check"></i> Registration Verification</li>
                            </ul>
                        </div>
                    </div>
                    @if (item.ProfileStatusID == 4 || item.ProfileStatusID == 10)
                    {
                        <div data-toggle="modal" data-target="#largeModal" class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                            <div class="process-step-circle">
                                <strong class="process-step-circle-content">2</strong>
                            </div>
                            <div class="process-step-content">
                                <ul class="list list-icons">
                                    <li id="big-sis-phase-2"><i class="fas fa-exclamation"></i> @ViewBag.ProStatus</li>
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                            <div style="background-color:#a62237;color:white" class="process-step-circle">
                                <strong style="color:white" class="process-step-circle-content">2</strong>
                            </div>
                            <div class="process-step-content">
                                <ul class="list list-icons">
                                    <li id="big-sis-phase-2"><i class="fas fa-check"></i> @ViewBag.ProStatus</li>
                                </ul>
                            </div>
                        </div>
                    }
                    @if (@ViewBag.Sistatus == "Pending Approval")
                    {
                        <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                            <div class="process-step-circle">
                                <strong class="process-step-circle-content">3</strong>
                            </div>
                            <div class="process-step-content">
                                <ul class="list list-icons">
                                    <li><i class="fas fa-exclamation"></i> Little Sister assignment @ViewBag.Sistatus</li>
                                </ul>
                            </div>
                        </div>
                    }
                    else

                    {
                        <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                            <div style="background-color:#a62237;color:white" class="process-step-circle">
                                <strong style="color:white" class="process-step-circle-content">3</strong>
                            </div>
                            <div class="process-step-content">
                                <ul class="list list-icons">
                                    <li><i class="fas fa-check"></i> Little Sister assignment @ViewBag.Sistatus</li>
                                </ul>
                            </div>
                        </div>
                    }
                </div>
                }

            </div>
        </div>

        <div class="container py-2">
            @*<form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">*@
            <div class="row">
                <div class="col-md-10">
                    <div class="row">

                        <div class="col-lg-3 mt-4 mt-lg-0">

                            <div class="d-flex justify-content-center mb-4">
                                <div class="profile-image-outer-container">
                                    <div class="profile-image-inner-container bg-color-primary">
                                        <img src="~/Uploads/ProimagesBigsis/@item.Imageurl">

                                    </div>

                                </div>
                                @*<div class="profile-image-inner-container bg-color-primary">
                                        <label style="cursor: pointer;">
                                            <span for="file" class="profile-image-button bg-color-dark">
                                                <i class="fas fa-camera text-light"></i>
                                            </span>
                                        </label>
                                        <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

                                    </div>
                                    <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                            </div>




                        </div>
                        <div class="col-lg-9">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="overflow-hidden mb-1">
                                        <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@item.Name </strong>s Profile</h2>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                            <div class="accordion" id="accordion">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                                Personal Information
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1One" class="collapse">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Full Names</label>
                                                <div class="col-lg-12">
                                                    <p>@item.Name</p>
                                                </div>
                                            </div>
                                      
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                                                <div class="col-lg-12">
                                                    <p>@item.Nickname</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID number</label>
                                                <div class="col-lg-12">
                                                    <p>@item.IDPassport</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                                                <div class="col-lg-12">
                                                    <p>@item.DateofBirth.ToString("yyyy-MMM-dd")</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle"  aria-expanded="false"  data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                                Contact Information
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Two" class="collapse">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                                                <div class="col-lg-12">
                                                    <p>@item.email</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                                                <div class="col-lg-12">
                                                    <p>@item.Phonenumber</p>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                                                <div class="col-lg-12">
                                                    <p>@item.AddressStreet</p>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                                                    <div class="col-lg-8">
                                                        <input asp-for="AddressStreetlinetwo" class="form-control" required type="text" value="" placeholder="Address line 2 (Parkmore, Sandton) ">
                                                    </div>
                                                    <div class="col-lg-4">
                                                        @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                                                    </div>
                                                </div>*@
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                                                <div class="col-lg-12">
                                                    <p>@item.PostalCode</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 1 name and number</label>

                                                <div class="col-lg-12">
                                                    <p>@item.EmergencyContactNameone: @item.EmergencyContactNumberone</p>
                                                </div>


                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 2 name and number</label>

                                                <div class="col-lg-12">
                                                    <p>@item.EmergencyContactNametwo: @item.EmergencyContactNumbertwo </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle"  aria-expanded="false"  data-toggle="collapse" data-parent="#accordion" href="#collapse1Three">
                                                Profile Questions
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Three" class="collapse">
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">How did you hear about 18twenty8?</label>
                                                <div class="col-lg-12">
                                                    <p>@item.howdidyouhearabout</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Tell us more about your background (Proffesional, academic, personal and professional aspirations)</label>
                                                <div class="col-lg-12">
                                                    <p>@item.BackgroundQ</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been a mentor or participated in mentor training?</label>
                                                <div class="col-lg-12">
                                                    <p>@ViewBag.EvMentor</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                                <div class="col-lg-9">
                                                    <p>@item.DetailsOnEverbeenMentorQ</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been arrested or convicted of a crime?</label>
                                                <div class="col-lg-12">

                                                    <p>@ViewBag.Conv</p>




                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you have answered yes to the above question.</label>
                                                <div class="col-lg-12">
                                                    <p>@item.DetailsArrestedConvictedQ</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What would your 28 year-old self say to your 18 year-old self?</label>
                                                <div class="col-lg-12">
                                                    <p>@item.youngerselfQ</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What expectations do you have about your Little Sister?</label>
                                                <div class="col-lg-12">
                                                    <p>@item.Expectationsonlittlesister</p>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Information of interests(Please select all applicable options)</label>
                                                <div class="col-lg-12">
                                                    <ul class="list list-icons">
                                                        @foreach (var items in IS)
                                                        {

                                                            <li><i class="fas fa-check"></i>@II.Where(x => x.InformationofInterestID == items.InformationofInterestID).SingleOrDefault().Description</li>

                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to meet my Little Sister:</label>
                                                <div class="col-lg-12">
                                                    <p>@IL.Where(x => x.InteractionLevelID == item.Interactionlevelmeet).SingleOrDefault().Description</p>


                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to phone / email / text my Little Sister: </label>
                                                <div class="col-lg-12">

                                                    <p>@IL.Where(x => x.InteractionLevelID == item.InteractionlevelDigCom).SingleOrDefault().Description</p>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ADDITIONAL SUPPORT. In addition to being a Big Sister, I would also like to (please select all applicable options): </label>
                                                <div class="col-lg-12">

                                                    <ul class="list list-icons">
                                                        @foreach (var items in ASSB)
                                                        {

                                                            <li><i class="fas fa-check"></i>@ASB.Where(x => x.AdditionalSupportBigID == items.AdditionalSupportBigID).SingleOrDefault().Description</li>

                                                        }
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label style="font-size: .8em !important;" class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">
                                                    I confirm that I can commit to being a Big Sister for no less than 12 months from the date of submission of this form @if (@item.ConfirmMentordurationQ == 1)
                                                    {<i style="font-size:14px; color:green" class="fas fa-check-circle"></i>}
                                                    else
                                                    { <i style="font-size:14px; color:red" class="fas fa-times-circle"></i>}
                                                </label>
                                                <!---<div class="col-lg-12">

                                                    <p>@item.ConfirmMentordurationQ</p>

                                                </div>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle"  aria-expanded="false"  data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                                Documents
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1Four" class="collapse">
                                        <div class="card-body">
                                            <table class="table table-sm table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Document Name</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-sister-documents"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    @if (sisterAssign.Count > 0)
                    {
                        foreach (var assign in sisterAssign)
                        {
                            @if (assign.AssignBigApproveID == 3 && assign.AssignLittleApproveID == 3)
                            {
                                <div class="bigAssignWrapper">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="alert alert-success" role="alert">
                                                <h4 style="font-size: 0.7rem;" class="alert-heading"><i class="fa fa-users"></i>@assign.AssignedLittleSister</h4>
                                                <hr>
                                                <p class="mb-0" style="text-align:center"><a style="font-size: 0.7rem;" class="btn-view-sister-profile" data-sister-id="@assign.AssignedLittleSisterId" data-sister-type="little" onclick="return false" href="#">View profile. <i class="fa fa-external-link-alt"></i></a></p>
                                                <p class="mb-0" style="text-align:center;"><a style="font-size: 0.7rem;color:green" asp-controller="Messaging" asp-action="index" class="btn-view-sister-profile" asp-route-RoleID="Big Sister (Mentor)" asp-route-RecId="@assign.AssignedLittleSisterId" asp-route-SendID="@BS.SingleOrDefault().UserID">Chat. <i class="fa fa-comment"></i></a></p>
                                            </div>

                                        </div>


                                    </div>


                                </div>
                            }
                            else if (assign.AssignBigApproveID == 3)

                            {

                            }
                            else
                            { <div class="bigAssignWrapper">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="alert alert-success" role="alert">
                                                <h4 style="font-size: 1.0rem;" class="alert-heading"><i class="fa fa-users"></i> Little Sister Alert</h4>
                                                <p><b>@assign.AssignedLittleSister</b> has been assigned to be your mentee. Please review and action accordingly.</p>
                                                <hr>
                                                <p class="mb-0" style="text-align:center"><a class="btn-view-sister-profile" data-sister-id="@assign.AssignedLittleSisterId" data-sister-type="little" onclick="return false" href="#">View profile. <i class="fa fa-external-link-alt"></i></a></p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="action-button-wrapper" style="margin-right: 50px;margin-left: 50px;">
                                                <button onclick="return false" class="btn btn-success btn-sm mb-2 btn-approve-profile" data-toggle="tooltip" title="Approve"><i data-role="Big Sister (Mentor)" data-sister-assign-id="@assign.AssignSisterStatusID" data-sister-UID="@BS.SingleOrDefault().UserID" data-action="Approved" data-src="assignment-action" class="fas fa-thumbs-up"></i>&nbsp;</button>
                                                <button onclick="return false" class="btn btn-primary btn-sm mb-2 btn-decline-profile-assig" data-toggle="tooltip" title="Decline"><i data-role="Big Sister (Mentor)" data-sister-assign-id="@assign.AssignSisterStatusID" data-sister-UID="@BS.SingleOrDefault().UserID" data-action="Declined" data-src="assignment-action" class="fas fa-thumbs-down">&nbsp;</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>}
                        }
                    }
                </div>
            </div>
            @*</form>*@
        </div>
    }

</div>

@*<script src="~/js/app/admin/action-profile.js"></script>*@
<script src="~/js/app/admin/document-manager.js"></script>
<script src="~/js/app/admin/sister-profile.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {


        document.body.addEventListener('click', (e) => {
            if (e.target.parentElement.classList.contains('btn-approve-profile')) {
                var data = {};
                e.target.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
                data.action = e.target.getAttribute('data-action');
                data.role = e.target.getAttribute('data-role');
                data.BigSisterID = e.target.getAttribute('data-sister-UID');
                data.sisterAssignId = e.target.getAttribute('data-sister-assign-id');
                actionProfileSisterAssign(data, e);
            }

            if (e.target.parentElement.classList.contains('btn-decline-profile-assig')) {

                var data = {};
                e.target.innerHTML = '<i class="fas fa-spinner fa-spin"></i>';
                data.action = e.target.getAttribute('data-action');
                data.role = e.target.getAttribute('data-role');
                data.BigSisterID = e.target.getAttribute('data-sister-UID');
                data.sisterAssignId = e.target.getAttribute('data-sister-assign-id');
                actionProfileSisterAssign(data, e);
            }
        });

        function actionProfileSisterAssign(data = {}, e) {
            const options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            fetch(`${window.location.origin}/Administration/ActionProfileSisterAssign`, options)
                .then((response) => {
                    return response.json();
                })
                .then((response) => {
                    if (data.action == "Approved") {
                        e.target.innerHTML = '';
                        e.target.disabled = true;
                        e.target.style.cursor = 'default';
                    }

                    if (data.action == "Declined") {
                        e.target.innerHTML = '';
                        e.target.disabled = true;
                        e.target.style.cursor = 'default';
                    }
                    window.location.reload(true);
                    toastr.success(`${data.action} successfully`, 'Success Message');{
                   
                    
                    }
                });
        }
    });
</script>
