

@model _18TWENTY8.Models.BigSisterDetail
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5"> Edit Big <strong class="font-weight-extra-bold">Sister Detail</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-2">
        <form asp-action="Edit" role="form" class="needs-validation" enctype="multipart/form-data">
            <div class="row">

                <input hidden asp-for="BigSisterDetailID" class="form-control" required type="text" >
                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container" data-provides="fileupload">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img src="~/Uploads/ProimagesBigsis/@Model.Imageurl">
                                <span class="profile-image-button bg-color-dark">
                                    <i class="fas fa-camera text-dark"></i>
                                </span>
                            </div>

                            <input type="file" required class="profile-image-input" name="pc" id="pc" onchange="loadFile(event)" />
                        </div>
                        @*<div class="profile-image-inner-container bg-color-primary">
                                <label style="cursor: pointer;">
                                    <span for="file" class="profile-image-button bg-color-dark">
                                        <i class="fas fa-camera text-light"></i>
                                    </span>
                                </label>
                                <p><img id="output" width="200" src="~/img/avatars/avatar.jpg"></p>

                            </div>
                            <p><input type="file" class="profile-image-input" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>*@


                    </div>



                </div>
                <div class="col-lg-9">

                    <div class="overflow-hidden mb-1">
                        <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">My Big</strong> Sister Profile</h2>
                    </div>
                    <div class="overflow-hidden mb-4 pb-3">
                        <p class="mb-0">Please create your big sister profile by filling in the details below.</p>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Full Names</label>
                        <div class="col-lg-12">
                            <input asp-for="Name" class="form-control" required type="text" >
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID number</label>
                        <div class="col-lg-12">
                            <input asp-for="IDPassport" class="form-control" required type="text" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                        <div class="col-lg-12">
                            <input asp-for="email" class="form-control" required type="email" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                        <div class="col-lg-12">

                            <input asp-for="Phonenumber" class="form-control" required type="tel" maxlength="10" minlength="10" onblur="if(this.value == '') { this.value ='e.g. 0825660869'; }" onfocus="if(this.value =='e.g. 0825660869') { this.value = ''; }" value="e.g. 0825660869">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Physical Address</label>
                        <div class="col-lg-12">
                            <input asp-for="AddressStreet" class="form-control" required type="text" placeholder="Street (96 4th St)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class="col-lg-8">
                            <input asp-for="AddressStreetlinetwo" class="form-control" required type="text" placeholder="Address line 2 (Parkmore, Sandton) ">
                        </div>
                        <div class="col-lg-4">
                            @Html.DropDownListFor(m => m.Province, ViewBag.Province as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Postal Code</label>
                        <div class="col-lg-12">
                            <input asp-for="PostalCode" class="form-control" required type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 1</label>
                        <div class="col-lg-8">
                            <input asp-for="EmergencyContactNumberone" class="form-control" required type="text" value="" placeholder="Phone Number">
                        </div>
                        <div class="col-lg-4">
                            <input asp-for="EmergencyContactNameone" class="form-control" required type="text" value="" placeholder="Name of Person">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Emergency Contact 2</label>
                        <div class="col-lg-8">
                            <input asp-for="EmergencyContactNumbertwo" class="form-control" required type="text" value="" placeholder="Phone Number">
                        </div>
                        <div class="col-lg-4">
                            <input asp-for="EmergencyContactNametwo" class="form-control" required type="text" value="" placeholder="Name of Person">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">How did you hear about 18twenty8?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="howdidyouhearabout" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="about18Q" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Tell us more about your background (Proffesional, academic, personal and professional aspirations)</label>
                        <div class="col-lg-12">
                            <textarea asp-for="BackgroundQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been a mentor or participated in mentor training?</label>
                        <div class="col-lg-12">
                            @Html.DropDownListFor(m => m.EverbeenamentorQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you ahave answered yes to the above question.</label>
                        <div class="col-lg-9">
                            <textarea asp-for="DetailsOnEverbeenMentorQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Have you ever been arrested or convicted of a crime?</label>
                        <div class="col-lg-12">
                            @Html.DropDownListFor(m => m.ArrestedConvictedQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })


                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details if you ahave answered yes to the above question.</label>
                        <div class="col-lg-12">
                            <textarea asp-for="DetailsArrestedConvictedQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What would your 28 year-old self say to your 18 year-old self?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="youngerselfQ" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">What expectations do you have about your Little Sister?</label>
                        <div class="col-lg-12">
                            <textarea asp-for="Expectationsonlittlesister" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Please provide details on the preferred university, degree programme and geographic area of Little Sister</label>
                        <div class="col-lg-12">
                            <textarea asp-for="prefferedstudentdetails" maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" id="message" required></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Information of interests(Please select all applicable options)</label>
                        <div class="col-lg-12">

                            @for (int i = 0; i < Model.Infosbig.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.Infosbig[i].Value" />
                                <input asp-for="Infosbig[i].Selected" />@Model.Infosbig[i].Text <br />

                            }

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to meet my Little Sister:</label>
                        <div class="col-lg-12">

                            @Html.DropDownListFor(m => m.Interactionlevelmeet, ViewBag.IntLevel as SelectList, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">If you have selected other on the above question please give us details</label>
                        <div class="col-lg-12">
                            <input asp-for="Interactionlevelmeetother" class="form-control" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">INTERACTION LEVEL: Our Little Sisters require varying levels of interaction with their Big Sisters. In order to accurately and realistically assess your availability, please take transportation time, your lifestyle, family, social, academic and work obligations into consideration when answering the following question. I anticipate being able to phone / email / text my Little Sister: </label>
                        <div class="col-lg-12">

                            @Html.DropDownListFor(m => m.InteractionlevelDigCom, ViewBag.IntLevel as SelectList, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">If you have selected other on the above question please give us details</label>
                        <div class="col-lg-12">
                            <input asp-for="InteractionlevelDigComother" class="form-control" type="text" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ADDITIONAL SUPPORT. In addition to being a Big Sister, I would also like to (please select all applicable options): </label>
                        <div class="col-lg-12">

                            @for (int i = 0; i < Model.Addsupbig.Count; i++)
                            {
                                <input type="hidden" asp-for="@Model.Addsupbig[i].Value" />
                                <input asp-for="Addsupbig[i].Selected" />@Model.Addsupbig[i].Text <br />

                            }

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required"> I confirm that I can commit to being a Big Sister for no less than 12 months from the date of submission of this form</label>
                        <div class="col-lg-12">

                            @Html.DropDownListFor(m => m.ConfirmMentordurationQ, ViewBag.Option as SelectList, htmlAttributes: new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload CV</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" name="CV" id="CV" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload Certified ID</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" name="CID" id="CID" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2">Upload Qualifications</label>
                        <div class="fileupload col-lg-9  fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input">
                                    <i class="fas fa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>

                                <span class="btn btn-default btn-file">
                                    <span class="fileupload-exists">Change</span>
                                    <span class="fileupload-new">Select file</span>
                                    <input type="file" multiple name="QA" id="QA" />
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-lg-9">

                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Submitting...">
                        </div>
                    </div>


                </div>

            </div>
        </form>
    </div>

</div>




<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>