@page
@model RegisterModel
    <div role="main" class="main">
        <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 align-self-center p-static order-2 text-center">


                    </div>

                    <div class="col-md-12 align-self-center order-1">


                    </div>
                </div>
            </div>
        </section>

        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal mb-5"><strong class="font-weight-extra-bold"> @ViewData["RegType"]</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="featured-boxes">
                        <div class="row">
                            <div class="col-md-12">
                                <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-modern text-2 btn-secondary2">Sign in here if you already have an account</a>
                                <div class="featured-box featured-box-primary text-left mt-5">
                                    <div class="box-content">
                                        <p>Please note that your email address is your unique ID in 18twenty8 and will be used along with your password as your login credentials</p>
                                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="SignUp" class="needs-validation">
                                            <label class="text-danger">@ViewData["userex"]</label>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <label class="font-weight-bold text-dark text-2">Full Names</label>

                                                    <input asp-for="Input.UserNamedisp" value="" class="form-control form-control-lg" required>
                                                    <span asp-validation-for="Input.UserNamedisp" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">
                                                    <label class="font-weight-bold text-dark text-2">E-mail Address</label>

                                                    <input asp-for="Input.Email" value="" class="form-control form-control-lg" required>
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">

                                                    <label class="font-weight-bold text-dark text-2">Password</label>
                                                    <input asp-for="Input.Password" value="" class="form-control form-control-lg" required>
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col">

                                                    <label class="font-weight-bold text-dark text-2">Confirm Password</label>
                                                    <input asp-for="Input.ConfirmPassword" value="" class="form-control form-control-lg" required>
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" asp-for="Input.UserRole" value="@ViewData["Role"]" class="form-control form-control-lg" required>
                                                <span asp-validation-for="Input.UserRole" class="text-danger"></span>
                                            </div>
                                            <div class="form-row">
                                                <label class="danger" style="color:red;">Password must have at least 9 characters, 1 special character (! @@ # $ % & *), 1 number, 1 lowercase character and 1 uppercase character</label>
                                                <div class="form-group col-lg-6">
                                                    <button asp-route-id="@ViewData["id"]" type="submit" class="btn btn-primary btn-with-arrow mb-2">Submit<span><i class="fas fa-chevron-right"></i></span></button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
