@model _18TWENTY8.Models.ViewModels.BursaryApplicant.BursaryApplicantviewm

<div role="main" class="main">

    <section class="page-header page-header-modern bg-color-light-scale-1 border-0 m-0 page-header-md">
        <div class="container">
            <div class="row">

                <div class="col-md-12 align-self-center p-static order-2 text-center">


                </div>

                <div class="col-md-12 align-self-center order-1">


                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-4">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <h2 style="color:#a62237" class="font-weight-normal">Financial assistance candidate profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-2">
        <div class="row">
            <div class="modal fade" id="AcademicTranscript" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Academic Transcript</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Uploads/Qualifications/@Model.FinancialsS.Academictranscript" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="Modalproofreg" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Proof of registration</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Uploads/POR/@Model.FinancialsS.Proofofregoistrationurl" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="Modalfeest" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Latest Fee statements</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Uploads/FeeStatements/@Model.FinancialsS.LatestStatementfees" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="ModalCv" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">CV</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="~/Uploads/CV/@Model.FinancialsS.CVurl" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="ModelCertID" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Certified ID</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="~/Uploads/CertifiedID/@Model.FinancialsS.CertifiedID" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="ModalVid" tabindex="5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Motivational Video</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <article class="post post-large pb-5">
                                <div class="post-image">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video controls="controls" src="~/Uploads/CVVideo/@Model.FinancialsS.VideoURl" width="640" height="360" type="video/mp4" allowfullscreen></video>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="modal fade" id="viewDocumentModal" tabindex="5" role="dialog" data-backdrop="static" aria-labelledby="largeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="docViewModal" class="modal-body">
                        <div class="iframe-container">
                            <iframe id="documentViewer" width="100%" height="650px"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


        @*<div class="row">
                <div class="col">

                    <div class="row process process-connecting-line ">
                        <div class="connecting-line appear-animation" data-appear-animation="fadeIn"></div>
                        <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                            <div style="background-color:#a62237;color:white" class="process-step-circle">
                                <strong style="color:white" class="process-step-circle-content">1</strong>
                            </div>
                            <div class="process-step-content">
                                <ul class="list list-icons">
                                    <li id="big-sis-phase-1"><i class="fas fa-check"></i> Registration Verification</li>
                                </ul>
                            </div>
                        </div>
                        @if (Model.Profile.ProfileStatusID == 5 || Model.Profile.ProfileStatusID == 11)
                        {
                            <div data-toggle="modal" data-target="#largeModal" class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                                <div class="process-step-circle">
                                    <strong class="process-step-circle-content">2</strong>
                                </div>
                                <div class="process-step-content">
                                    <ul class="list list-icons">
                                        <li id="big-sis-phase-2"><i class="fas fa-exclamation"></i> @Model.Profile.ProfileStatus</li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                                <div style="background-color:#a62237;color:white" class="process-step-circle">
                                    <strong style="color:white" class="process-step-circle-content">2</strong>
                                </div>
                                <div class="process-step-content">
                                    <ul class="list list-icons">
                                        <li id="big-sis-phase-2"><i class="fas fa-check"></i> @Model.Profile.ProfileStatus</li>
                                    </ul>
                                </div>
                            </div>
                        }
                        @if (@Model.Profile.SisterStatus == "Pending Approval")
                        {
                            <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000">
                                <div class="process-step-circle">
                                    <strong class="process-step-circle-content">3</strong>
                                </div>
                                <div class="process-step-content">
                                    <ul class="list list-icons">
                                        <li><i class="fas fa-exclamation"></i> Little Sister assignment @Model.Profile.SisterStatus</li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else

                        {
                            <div class="process-step col-lg-4 mb-5 mb-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
                                <div style="background-color:#a62237;color:white" class="process-step-circle">
                                    <strong style="color:white" class="process-step-circle-content">3</strong>
                                </div>
                                <div class="process-step-content">
                                    <ul class="list list-icons">
                                        <li><i class="fas fa-check"></i> Little Sister assignment @Model.Profile.SisterStatus</li>
                                    </ul>
                                </div>
                            </div>


                        }
                    </div>
                </div>
            </div>*@

        <div id="little-sister-profile-wrapper" class="container py-2">
            <form asp-action="Detail" role="form" class="needs-validation" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">

                            <div class="col-lg-3 mt-4 mt-lg-0">

                                <div class="d-flex justify-content-center mb-4">
                                    <div class="profile-image-outer-container">
                                        <div class="profile-image-inner-container bg-color-primary">
                                            <img src="~/Uploads/ProimagesLilsis/@Model.FinancialsS.Imgurl">

                                        </div>

                                    </div>

                                </div>




                            </div>
                            <div class="col-lg-9 litte-sister-profile-wrapper">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="overflow-hidden mb-1">
                                            <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">@ViewBag.Wel @Model.FinancialsS.Name </strong></h2>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>

                                <div class="accordion" id="accordion">
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h4 class="card-title m-0">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                                    Personal Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1One" class="collapse">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Name</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.Name</p>
                                                    </div>
                                                </div>
    
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Nickname / Preferred name</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.Nickname</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">ID / Passport number</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.IdNr_Passport</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Date of birth</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.DOB</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h4 class="card-title m-0">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Two">
                                                    Contact Information
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1Two" class="collapse">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Email</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.Email</p>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Contact number(Cell)</label>
                                                    <div class="col-lg-12">
                                                        <p>@Model.FinancialsS.CellphoneNr</p>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="card card-default">
                                        <div class="card-header">
                                            <h4 class="card-title m-0">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Four">
                                                    Documents
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1Four" class="collapse">
                                            <div class="card-body">
                                                <table class="table table-sm table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Document Name</th>
                                                            <th scope="col">Created</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl-sister-documents">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Certified ID</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#ModelCertID" href="#">View</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">CV</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#ModalCv" href="#">View</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Motivational Video</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#ModalVid" href="#">View</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Academic Transcript</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#AcademicTranscript" href="#">View</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Proof of registration</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#Modalproofreg" href="#">View</a></th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Fee Statement</th>
                                                            <th scope="col">@Model.FinancialsS.DateCreated</th>
                                                            <th scope="col"><a data-toggle="modal" data-target="#Modalfeest" href="#">View</a></th>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    @if (@Model.FinancialsS.ApplicationStatusID == 4)
                                    {<div class="card card-default">
                                            <div class="card-header">
                                                <h4 class="card-title m-0">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1Five">
                                                        Bursaries
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse1Five" class="collapse">
                                                <div class="card-body">
                                                    <div class="form-group row">
                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2">Apply for bursary Schemes</label>
                                                        <div class="col-lg-12">
                                                            <input asp-route-UserID="@Model.FinancialsS.UserID" asp-action="AvailableBursaries" type="submit" value="View available bursary schemes" class="btn btn-sm btn-primary btn-modern float-left" data-loading-text="Submitting...">
                                                        </div>
                                                        <label class="col-lg-12 font-weight-bold text-dark col-form-label form-control-label text-2 required">Bursary Schemes you have applied for</label>
                                                        <div class="col-lg-12">
                                                            <div class="blog-posts">
                                                                
                                                                <div class="row px-3">
                                                                    @foreach (var items in Model.BursCand)
                                                                    {
                                                                        <div class="col-sm-6">
                                                                            <article class="post post-medium border-0 pb-0 mb-5">


                                                                                <div class="post-content">

                                                                                    <h2 class="font-weight-semibold text-5 line-height-6 mt-3 mb-2"><a href="#">@Model.Bursarylist.Where(x=> x.BursaryID==items.BursaryID).SingleOrDefault().Title</a></h2>
                                                                                    <p>@Model.Bursarylist.Where(x => x.BursaryID == items.BursaryID).SingleOrDefault().Description</p>

                                                                                    <div class="post-meta">
                                                                                 
                                                                                
                                                                                        <span><i class="far fa-info-circle"></i> <a href="#">Status - @Model.AppstatusBursary.Where(x=> x.BursaryStatusID==items.Status).SingleOrDefault().Description </a></span>

                                                                                        <span class="d-block mt-2"><a asp-controller="Administration" asp-action="DetailsBB" asp-route-id="@items.BursaryID" class="btn btn-xs btn-light text-1 text-uppercase">Read More</a></span>
                                                                                    </div>

                                                                                </div>
                                                                            </article>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>}
                                    else
                                    { }


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 50px;">

                    </div>
                </div>
            </form>
        </div>
    }

</div>



@*<script src="~/js/app/admin/action-profile.js"></script>
    <script src="~/js/app/admin/document-manager.js"></script>
    <script src="~/js/app/admin/sister-profile.js"></script>*@